<div class="row">
  <div class="col-md">
    <app-game-field [fieldState]="initialField$ | async" (onMove)="playerMoved($event)"></app-game-field>

    <p>Click on a tile to start the game</p>
  </div>

  <div class="col-md">
    <h1 class="h2">Start new game</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-row" formGroupName="field">
        <div class="col-sm form-group">
          <label for="field-width">Width</label>
          <input class="form-control" id="field-width" type="number" formControlName="width" />
        </div>

        <div class="col-sm form-group">
          <label for="field-height">Height</label>
          <input class="form-control" id="field-height" type="number" formControlName="height" />
        </div>
      </div>

      <div class="form-row">
        <div class="col-sm form-group">
          <label for="mines"># of mines</label>
          <input class="form-control" id="mines" type="number" formControlName="mines" />
        </div>
      </div>
    </form>

    <hr />

    <h1 class="h2">Resume a game</h1>

    <p *ngIf="!(isAuthenticated$ | async)">By registering you can resume games here.</p>

    <div class="list-group">
      <a class="list-group-item list-group-item-action"
         *ngFor="let game of savedGames$ | async"
         [routerLink]="['game', game.id]">
        {{game.startTime | date}} &mdash; Size: {{game.field.width}}x{{game.field.height}} &mdash; Mines: {{game.mines}}
      </a>
    </div>
  </div>
</div>
